
      <div class="relative mt-6 max-w-lg mx-auto">
        <form>
          <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
              <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">
                  <path 
                    d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" 
                    stroke="currentColor" 
                    stroke-width="2" 
                    stroke-linecap="round" 
                    stroke-linejoin="round"/>
              </svg>
          </span>
          <input 
            class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-blue-500 focus:outline-none focus:shadow-outline" 
            type="text" 
            placeholder="Search assets"
            [(ngModel)]="search"
            name="searchTerm" 
            id="searchTerm"
            #query>
        </form>
      </div>

      <h3 class="text-gray-700 text-2xl font-medium">Assets</h3>
      <span class="mt-3 text-sm text-gray-500" *ngIf="(assets$ | async)">
        {{(assets$ | async)?.length > 20 
          ? ((assets$ | async)?.length - 1) + '+'
          : (assets$ | async)?.length }} asset{{((assets$ | async)?.length > 1) ? 's' : ''}}
      </span>
      <div 
        class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6"
        *ngIf="(assets$ | async); else noAssets">
        <span *ngFor="let asset of (assets$ | async) | assetSearch: search; let i = index">
          <app-asset [asset]="asset" (selectedAsset)="onAssetSelect($event)" *ngIf="i < 50">
          </app-asset>
        </span>
      </div>

      <ng-template #noAssets>
        <h2 style="max-width:250px;margin:0 auto;">No assets found.</h2>
      </ng-template>

      <ng-template *ngIf="(error$ | async)">
        <h2>{{(error$ | async) | json}}</h2>
      </ng-template>

      <ng-template *ngIf="(loading$ | async)">
        <h2>Loading assets...</h2>
      </ng-template>