<header>
  <div class="container mx-auto px-6 py-3">
      <div class="flex items-center justify-between">
          
        <!-- <div class="w-full text-gray-700 md:text-center text-2xl font-semibold">
            
        </div> -->
        <nav class="w-full bg-white px-8 pt-2 shadow-md">
          <div class="-mb-px flex justify-left">
            <a 
                class="no-underline text-teal-dark border-b-2 border-teal-dark uppercase tracking-wide font-bold text-xs py-3 mr-8"
                [routerLink]="['/']">
                  CoinToss
              </a>
          </div>
          <div class="-mb-px flex justify-center">
              <a 
                class="no-underline text-teal-dark border-b-2 border-teal-dark uppercase tracking-wide font-bold text-xs py-3 mr-8"
                [routerLink]="['/assets']">
                  Assets
              </a>
              <a 
                class="no-underline text-grey-dark border-b-2 border-transparent uppercase tracking-wide font-bold text-xs py-3 mr-8"
                [routerLink]="['/favourites']">
                  Favourites
              </a>
              <a 
                class="no-underline text-grey-dark border-b-2 border-transparent uppercase tracking-wide font-bold text-xs py-3 mr-8"
                [routerLink]="['/exchange']">
                  Exchange
              </a>
          </div>
        </nav>
      </div>
  </div>
</header>