
<div class="min-w-full bg-gray-100 flex flex-col justify-center p-10">
  <div class="relative w-full max-w-full mx-auto">
    <div class="relative bg-white shadow-lg sm:rounded-3xl">
      
      <div class="px-20 py-6">
        
        <!-- nav -->
        <app-header></app-header>
        <!-- /nav -->
        
        <div class="mt-12 lg:mt-32 lg:ml-2 text-left">
          <!-- COINS -->
          <app-coins></app-coins>
          <!-- COINS -->
        </div>

      </div>
    </div>
  </div>
</div>

